.Carrousel {
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.alice-carousel {
  position: center;
  max-width: 80%;
  margin: 20px;
  direction: ltr;
}

.alice-carousel__prev-btn,
.alice-carousel__next-btn {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  font-size: 30px;
}

.alice-carousel__prev-btn {
  left: -55%;
}

.alice-carousel__next-btn {
  right: -55%;
}

.title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.productCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  height: 250px;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.productCard:hover {
  transform: translateY(-10px);
}

.productFigure {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 5px;
}

.productImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.productInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 10px;
  justify-content: space-between;
}

.productName {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  padding: 0 10px;
  text-align: center;
}

.products__card__p {
  font-size: 18px;
  font-weight: bold;
  color: #343a40;
  margin: 0;
  padding: 0;
}

.productPriceIcon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 40px;
  background-color: #f8f9fa;
  border-radius: 5px;
  padding: 0 10px;
  box-sizing: border-box;
}

.productPrice {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
}

.productCart {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100%;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #343a40;
  color: #ffffff;
  border: none;
  border-radius: 20%;
  cursor: pointer;
}

.button:hover {
  background-color: #5a6268;
}

.cart-icon {
  font-size: 24px;
}
