.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  margin: 0 70px;
  width: auto; 
}

.carousel-arrow {
  font-size: 24px;
  cursor: pointer;
  margin: 0 10px;
}

.product-card {
  display: flex;
  flex-direction: column;
  margin: 0 20px 0 0;
  background-color: lightgray;
  width: 200px;
  height: 100%; /* Agrega altura al elemento .product-card para que los elementos internos se ajusten correctamente */
  justify-content: space-between;
}

.carousel-content {
  overflow: hidden; 
}

.product-image {
  width: 200px;
  height: 100px;
  object-fit: cover;
}

.product-info {
  padding: 10px;
  height: 100px;
}

.product-title {
  text-align: center;
  margin: 0;
}

.product-price {
  display: flex;
  justify-content: space-between;
  align-self: flex-start; 
  margin-top: 15px;
  height: 50px;
}

.button, .cart-icon {
  align-self: flex-start;
  font-size: 25px;
}

.cart-icon{
  justify-content: center;
}