.loader__container {
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 100;
    background-color: var(--ebony-50);
    top: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.loader__spinner {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.loader__item {
    width: 50px;
    height: 50px;
    position: absolute;
}

.loader__item-1 {
    background-color: var(--ebony-900);
    top: 0;
    left: 0;
    z-index: 1;
    animation: item-1_move 1.8s cubic-bezier(.6, .01, .4, 1) infinite;
}

.loader__item-2 {
    background-color: var(--ebony-800);
    top: 0;
    right: 0;
    animation: item-2_move 1.8s cubic-bezier(.6, .01, .4, 1) infinite;
}

.loader__item-3 {
    background-color: var(--ebony-700);
    bottom: 0;
    right: 0;
    z-index: 1;
    animation: item-3_move 1.8s cubic-bezier(.6, .01, .4, 1) infinite;
}

.loader__item-4 {
    background-color: var(--ebony-600);
    bottom: 0;
    left: 0;
    animation: item-4_move 1.8s cubic-bezier(.6, .01, .4, 1) infinite;
}

@keyframes item-1_move {

    0%,
    100% {
        transform: translate(0, 0)
    }

    25% {
        transform: translate(0, 50px)
    }

    50% {
        transform: translate(50px, 50px)
    }

    75% {
        transform: translate(50px, 0)
    }
}

@keyframes item-2_move {

    0%,
    100% {
        transform: translate(0, 0)
    }

    25% {
        transform: translate(-50px, 0)
    }

    50% {
        transform: translate(-50px, 50px)
    }

    75% {
        transform: translate(0, 50px)
    }
}

@keyframes item-3_move {

    0%,
    100% {
        transform: translate(0, 0)
    }

    25% {
        transform: translate(0, -50px)
    }

    50% {
        transform: translate(-50px, -50px)
    }

    75% {
        transform: translate(-50px, 0)
    }
}

@keyframes item-4_move {

    0%,
    100% {
        transform: translate(0, 0)
    }

    25% {
        transform: translate(50px, 0)
    }

    50% {
        transform: translate(50px, -50px)
    }

    75% {
        transform: translate(0, -50px)
    }
}

.loader__h4 {
    margin: auto;
    padding-top: 150px;
    color: var(--ebony-950);
}