.productsRanking__table {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.productsRanking__table__container {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: var(--ebony-50);
    width: 100%;
    max-width: 450px;
}

.productsRanking__table__container h5 {
    font-weight: normal;
}

.productsRanking__table__header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    border-bottom: 1px solid var(--ebony-900);
    padding: 10px 5px;
    align-items: center;
    text-align: center;
    background: var(--ebony-900);
    color: var(--white);
    border-radius: 12px 12px 0 0;
}

.productsRanking__table__content {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--ebony-900);
}

.productsRanking__table__content__product {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 16px 0;
    text-align: center;
    border-left: 1px solid var(--ebony-900);
    border-right: 1px solid var(--ebony-900);
    border-bottom: 1px solid var(--ebony-900);
    align-items: center;
}

.productsRanking__table__content__product:last-child {
    border-bottom: none;
}

.productsRanking__noResults {
    text-wrap: balance;
}

.productsRanking__footer {
    display: flex;
    width: 100%;
    max-width: 450px;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
}

.productsRanking__footer__pagination {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 12px;
}

.productsRanking__footer__excel button {
    font-size: 12px;
}

.productsRanking__footer__pagination__arrow:hover {
    cursor: pointer;
}

@media (width >=425px) {
    .productsRanking__table__header {
        padding: 10px 10px;
    }

    .productsRanking__table__content__product {
        padding: 10px 10px;
    }

    .productsRanking__table__container h5 {
        font-size: 16px;
    }

    .productsRanking__noResults {
        font-size: 18px;
    }

    .productsRanking__footer__pagination {
        flex-direction: row;
        gap: 30px;
        justify-content: space-between;
        font-size: 14px;
    }

    .productsRanking__footer__excel button {
        font-size: 14px;
    }

}

@media (width >=768px) {

    .productsRanking__table__title {
        padding: 20px 10px;
    }

    .productsRanking__table__container {
        width: 70%;
        max-width: 100%;
    }

    .productsRanking__table__container h5 {
        font-size: 18px;
    }

    .productsRanking__table__header {
        padding: 15px 5px;
    }

    .productsRanking__table__content__product {
        padding: 15px 5px;
    }

    .productsRanking__noResults {
        font-size: 20px;
    }

    .productsRanking__footer {
        width: 70%;
        max-width: 100%;
    }

    .productsRanking__footer__pagination {
        font-size: 16px;
    }

    .productsRanking__footer__excel button {
        font-size: 16px;
    }

}

@media (width >=1024px) {

    .productsRanking__table__header {
        padding: 20px 5px;
    }

    .productsRanking__table__content__product {
        padding: 20px 5px;
    }

    .productsRanking__table__container h5 {
        font-size: 24px;
    }

    .productsRanking__footer__pagination {
        font-size: 18px;
    }

    .productsRanking__footer__excel button {
        font-size: 18px;
    }
}