.landingMainContainer {
  display: flex;
  flex-direction: row;
}

.landingLogoContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 100px;
  gap: 40px;
}

.landingLogoContainer img {
  margin-top: 30px;
  min-width: 400px;
  min-height: 400px;
}

.landingButton {
  font-weight: bold;
  color: #ddd;
  background-color: #11111f;
  text-decoration: none;
  padding: 10px;
  border: 0px;
  border-radius: 30px;
  width: 40%;
  max-width: 300px;
  text-align: center;
}
