.landingMainContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.landingLogoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;
}

.landingLogoContainer img {
  max-width: 320px;
  max-height: 320px;
}

.landingButton {
  border: 0;
  background-color: #11111f;
  color: #ddd;
  font-weight: bolder;
  border-radius: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 24px;
  padding-left: 24px;
  text-decoration: none;
  margin: 16px;
}

.landingButton:hover{
  background-color: #222249;
}

@media (min-width: 600px){

  .landingLogoContainer img {
    max-width: 480px;
    max-height: 480px;
  }

  .landingButton {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 32px;
    padding-left: 32px;
    margin: 24px;
  }

}