.modalStock__box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    background-color: var(--ebony-50);
    border: 1px solid var(--ebony-950);
    padding: 20px 40px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow-y: scroll;
    max-height: 95vh;
    scrollbar-width: none;
}

.modalStock__box>.modalStock__h3 {
    text-align: center;
}

.modalStock__name,
.modalStock__minimumStock,
.modalStock__currentStock,
.modalStock__itemStock,
.modalStock__state,
.modalStock__measurementUnit {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.modalStock__input,
.modalStock__select {
    padding: 10px 5px;
    background-color: var(--ebony-50);
    border: 1px solid var(--ebony-950);
    border-radius: 10px;
}

.modalStock__buttons {
    display: flex;
    justify-content: space-between;
}

.modalStock__button {
    width: 100px;
}