.buscadorDiv{
    margin-right: 30%;
}

.buscador{

    background-image: url("/images/lupaNegro.png");
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center;
    background-size: auto 60%;
    padding-right: 20px;
}