.productsRanking__container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 10px;
    max-width: 1600px;
    margin: 0 auto;
}

.productsRanking__header {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

.productsRanking__filter {
    display: flex;
    gap: 10px;
    align-items: center;
    padding-bottom: 10px;
    max-width: 100%;
}

.productsRanking__filter input {
    font-size: 10px;
}


.productsRanking__filter input {
    background-color: var(--ebony-50);
    color: var(--ebony-950);
    border: 1px solid var(--ebony-950);
    border-radius: 10px;
    padding: 5px;
}

.productsRanking__options {
    display: flex;
    gap: 20px;
}

.productsRanking__options button {
    width: 100px;
    justify-content: center;
    background-color: inherit;
    color: var(--ebony-950);
    font-weight: 600;
    transition: .3s;
    font-size: 12px;
}

.productsRanking__options button:hover {
    background-color: var(--ebony-200);

}

.productsRanking__options .active {
    text-decoration: underline;
}

@media (width >=425px) {

    .productsRanking__filter input {
        font-size: 12px;
    }

    .productsRanking__options button {
        font-size: 14px;
    }

    .productsRanking__container h3 {
        font-size: 24px;
    }

}

@media (width >=768px) {

    .productsRanking__container h3 {
        font-size: 28px;
    }

    .productsRanking__options button {
        font-size: 16px;
    }


    .productsRanking__header {
        width: 100%;
        max-width: 700px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 15px 0;
    }

    .productsRanking__filter {
        max-width: 65%;
        padding-bottom: 0;
    }


}

@media (width >=1024px) {

    .productsRanking__header {
        max-width: 850px;
        padding: 20px 0;
    }

    .productsRanking__filter input {
        font-size: 14px;
    }

    .productsRanking__options button {
        font-size: 18px;
    }

    .productsRanking__container h3 {
        font-size: 32px;
    }

}

@media (width >=1440px) {

    .productsRanking__header {
        max-width: 1000px;
        padding: 20px 0;
    }

    .productsRanking__filter input {
        font-size: 16px;
    }

    .productsRanking__options button {
        font-size: 20px;
    }

}