.itemStockElementMain {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.itemStockElementTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.itemStockElementBody {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.itemStockElementBodyDetails {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.itemStockElementDenInput{
    width: 150px;
}

.itemStockElementBodyButtons{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;
}

.itemStockElementBodyButtons button{
  color: #eee;
  font-weight: bold;
  background-color: #11111f;
  border: 0px;
  border-radius: 20px;
}

.itemStockElementBodyButtons button:hover{
    background-color: #33333f;
  }

.itemStockElementPadreInput {
  width: 15%;
}
