.cart_main_container {
  min-height: inherit;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.cart_main_container h2 {
  margin-top: 8px;
}

.cart_main_container .cart_back_amount {
  display: flex;
  width: inherit;
  justify-content: space-around;
}

.cart_main_container .cart_back_amount p {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.div__noAuthenticated {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-wrap: balance;
}

.cart_main_container .cart_back_amount a {
  display: flex;
  flex-direction: row;
  padding: 8px 16px 8px 16px;
  gap: 4px;
  border: 2px solid var(--ebony-800);
  border-radius: 12px;
  color: var(--ebony-800);
  background-color: var(--white);
  align-items: center;
  font-size: 14px;
  font-weight: bold;
}

.cart_main_container .cart_back_amount a:hover {
  cursor: pointer;
  background: var(--ebony-600);
}

.cart_main_container .cart_items_container {
  height: auto;
  width: inherit;
}

.cart_main_container .cart_items_container .cart_item {
  height: auto;
  max-height: 128px;
  width: inherit;
  display: grid;
  grid-template-columns: 100px auto;
  background: var(--white);
  border-bottom: 1px solid #ccc;
  padding: 4px;
  gap: 8px;
}

.cart_main_container .cart_items_container .cart_item:first-child {
  border-top: 1px solid #ccc;
}

.cart_main_container .cart_items_container .cart_item img {
  height: 64px;
  width: 96px;
  justify-self: center;
  border-radius: 4px;
}

.cart_main_container .cart_items_container .cart_item button {
  height: 16px;
  width: min-content;
  font-size: 12px;
  background: transparent;
  color: var(--ebony-800);
  justify-self: center;
}

.cart_main_container .cart_items_container .cart_item div:last-child {
  display: flex;
  align-items: center;
  align-self: flex-end;
  gap: 8px;
}

.cart_main_container .cart_items_container .cart_item div:last-child svg {
  color: var(--white);
  background: var(--ebony-800);
  font-weight: bold;
  padding: 4px;
  width: 20px;
  height: 20px;
  border-radius: 4px;
}

.cart_item_amount_input {
  width: 32px;
  height: 20px;
  padding: 2px 4px 2px 4px;
  border: 2px solid var(--ebony-800);
  border-radius: 4px;
  background: transparent;
  color: var(--ebony-800);
  text-align: center;
}

.cart_main_container .cart_buttons_container {
  height: auto;
  width: inherit;
  display: flex;
  justify-content: space-between;
  padding: 16px 16px 0 16px;
  margin: auto 0 16px 0;
}

.modalCart__box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
  background-color: var(--light-lavender-gray);
  border: 1px solid var(--midnight-blue);
  padding: 20px 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.modalCart__box>.modalCart__h3 {
  text-align: center;
  font-size: medium;
}

.modalCart__div {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.modalCart__select {
  padding: 8px 4px;
  background-color: var(--light-lavender-gray);
  border: 1px solid var(--midnight-blue);
  border-radius: 10px;
}

.modalCart__buttons {
  display: flex;
  justify-content: space-between;
}

.modalCart__button {
  width: 100px;
}

.modalCart__button:hover {
  cursor: pointer;
  background-color: royalblue;
}

@media only screen and (min-width: 424px) {
  .cart_main_container .cart_items_container .cart_item {
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 50px 40px;
  }

  .cart_main_container .cart_items_container .cart_item img {
    height: 90px;
    width: 104px;
    grid-row: 1 / 3;
    grid-column: 1;
    align-self: center;
  }

  .cart_main_container .cart_items_container .cart_item button {
    grid-column: 2;
    grid-row: 2;
    align-self: self-end;
    justify-self: self-start;
    padding: 4px 8px 4px 0;
    font-size: 14px;
  }

  .cart_main_container .cart_items_container .cart_item div:last-child {
    grid-column: 3;
    grid-row: 2;
  }


  .modalCart__box {
    width: 300px;
    padding: 20px 30px;

  }

  .modalCart__button {
    padding: 8px 16px;
  }

}

@media only screen and (min-width: 768px) {
  .cart_main_container {
    min-height: calc(100vh - 56px);
  }

  .cart_main_container .cart_items_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    gap: 16px 0;
  }

  .cart_main_container .cart_items_container .cart_item:first-child {
    border-top: 0;
  }

  .cart_main_container .cart_items_container .cart_item,
  .cart_main_container .cart_items_container .cart_item:first-child {
    width: 90%;
    max-height: 300px;
    border: 1px solid var(--light-gray);
    border-radius: 12px;
    box-shadow: 2px 2px 8px var(--gray);
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 3fr 1fr;
  }

  .cart_main_container .cart_items_container .cart_item img {
    max-height: 100px;
    width: 160px;
    grid-row: 1;
    grid-column: 1;
    align-self: center;
    margin: 4px;
  }

  .cart_main_container .cart_items_container .cart_item button {
    grid-column: 1;
    grid-row: 2;
    align-self: center;
    justify-self: center;
  }

  .cart_main_container .cart_items_container .cart_item div:last-child {
    grid-column: 2;
    grid-row: 2;
    justify-self: self-end;
  }
}

@media only screen and (min-width: 1024px) {
  .cart_main_container {
    min-height: calc(100vh - 80px);
  }

  .modalCart__box {
    width: 350px;
    padding: 20px 40px;
  }

  .modalCart__box>.modalCart__h3 {
    font-size: large;
  }

  .modalCart__select {
    padding: 10px 5px;
  }

  .modalCart__button {
    padding: 10px 20px;
  }
}