:root {
    --midnight-blue: #11111F;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer {
    display: flex;
    flex-direction: column;
    background-color: var(--midnight-blue);
    color: white;
}


.footer__users {
    background-image: url("footer/logo-con-opacidad.png");
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
}

.footer__users__container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 60px 0;
}

.footer__user {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.footer__link {
    text-decoration: none;
    color: #fff;
}

.footer__link:hover {
    text-decoration: underline;
    transition: .3s;
}

.footer__img {
    display: block;
    max-height: 30px;
}

.footer__info {
    max-width: 350px;
    width: 70%;
    align-self: center;
}

.footer__ul {
    list-style: none;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.footer__li {
    padding: 5px 0;
}

@media (width>=1024px) {

    .footer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        background-image: url("footer/logo-con-opacidad.png");
        background-repeat: no-repeat;
        background-position: center;
        padding: 20px 0;
    }

    .footer__users {
        padding-right: 40px;
        background-image: none;
        display: flex;
    }


    .footer__info {
        width: 60%;
        justify-self: end;
        padding-right: 40px;
        align-self: end;
        max-width: 300px;
    }

}