#botonIngresar {
  margin-right: 10px;
  background-color: #d9d9d9;
  color: #11111f;
  width: 110px;
  height: 40px;
}

#botonRegistrarse {
  margin-left: 10px;
  background-color: #d9d9d9;
  color: #11111f;
  width: 110px;
  height: 40px;
}

#containerButtons {
  margin: 0%;
  width: 50%;
}

#logo {
  margin: 0%;
  padding: 0px;
}

.navbar {
  background-color: #11111f;
}
