* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  width: 100%;
  background-color: #11111f;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  max-height: 50px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo,
.logo img {
  max-width: 180px;
  max-height: 48px;
}

.containerButtons {
  display: flex;
  flex-direction: row;
  gap: 6px;
}

.botonRegistrarse,
.botonIngresar {
  background-color: #d9d9d9;
  font-size: 12px;
  font-weight: bolder;
  color: #444;
  border: 0;
  border-radius: 16px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.botonRegistrarse:hover,
.botonIngresar:hover {
  background-color: #ccc;
}

@media (min-width: 600px) {
  .navbar {
    padding: 16px;
    max-height: 64px;
  }

  .containerButtons {
    gap: 12px;
  }

  .logo,
  .logo img {
    max-width: 240px;
    max-height: 56px;
  }

  .botonRegistrarse,
  .botonIngresar {
    font-size: 16px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 2px;
    padding-bottom: 2px;
  }
}
