@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

:root {
  --red: #ff0000;
  --light-red: #ff4444;
  --lighter-red: #ff8888;
  --warning-red: #cc2222;
  --black: #000000;
  --white: #ffffff;
  --gray: #888888;
  --light-gray: #cccccc;
  --lighter-gray: #d9d9d9;
  --lightest-gray: #eeeeee;
  --light-grayish-blue: #dfe4ed;
  --light-lavender-gray: #EEEEF6;
  --ebony-50: #f1f5fc;
  --ebony-100: #e6ebf9;
  --ebony-200: #d1daf4;
  --ebony-300: #b6c2eb;
  --ebony-400: #98a3e1;
  --ebony-500: #7e85d6;
  --ebony-600: #6464c7;
  --ebony-700: #5554ae;
  --ebony-800: #46468d;
  --ebony-900: #3e3f71;
  --ebony-950: #11111f;
}

* {
  margin: 0;
  padding: 0;
  gap: 0;
  outline: none !important;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  text-decoration: none;
  list-style: none;
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

*::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 12px;
}

body {
  background-color: var(--ebony-100);
}

button {
  display: flex;
  flex-direction: row;
  padding: 8px 16px 8px 16px;
  gap: 4px;
  border: 0;
  border-radius: 12px;
  color: var(--white);
  background-color: var(--ebony-800);
  align-items: center;
  font-size: 14px;
  justify-content: center;
}

button:hover {
  cursor: pointer;
  background: var(--ebony-600);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.whole_app_container {
  display: flex;
  flex-direction: column;
}

.whole_app_container .main_content {
  min-height: calc(100vh - 48px);
}

.whole_app_header {
  margin-bottom: 48px;
}

@media only screen and (min-width: 768px) {
  .whole_app_header {
    margin-bottom: 56px;
  }

  .whole_app_container .main_content {
    min-height: calc(100vh - 56px);
  }
}

@media only screen and (min-width: 1024px) {
  .whole_app_header {
    margin-bottom: 80px;
  }

  .whole_app_container .main_content {
    min-height: calc(100vh - 80px);
  }
}