.measurementUnitABM__container {
    padding: 30px;
    max-width: 1440px;
    margin: 0 auto;
}

.measurementUnitABM__table {
    display: flex;
    flex-direction: column;
    background-color: var(--ebony-50);
    border-radius: 10px;
    border: 2px solid var(--ebony-950);
}

.measurementUnitABM__header {
    display: flex;
    padding: 20px 70px 20px 60px;
}

.measurementUnitABM__title {
    flex: 1;
}

.measurementUnitABM__labels {
    display: grid;
    grid-template-columns: 1fr 4fr 2fr 2fr;
    padding: 16px 0;
    text-align: center;
    border-top: 1px solid var(--ebony-950);
}

.measurementUnitABM__row {
    display: grid;
    grid-template-columns: 1fr 4fr 2fr 2fr;
    padding: 10px 0;
    text-align: center;
    border-top: 1px solid var(--ebony-950);
    align-items: center;
}

.measurementUnitABM__icon {
    display: flex;
    justify-content: center;
}

.measurementUnitABM__button--icon {
    padding: 10px;
}

.measurementUnitABM__h4 {
    font-weight: 500;
}

.measurementUnitABM__modal__box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    background-color: var(--ebony-50);
    border: 1px solid var(--ebony-950);
    padding: 20px 40px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    overflow-y: scroll;
    max-height: 95vh;
    scrollbar-width: none;
}

.measurementUnitABM__modal__box>.measurementUnitABM__modal__h3 {
    text-align: center;
}

.measurementUnitABM__modal__name,
.measurementUnitABM__modal__state {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.measurementUnitABM__modal__input,
.measurementUnitABM__modal__select {
    padding: 10px 5px;
    background-color: var(--ebony-50);
    border: 1px solid var(--ebony-950);
    border-radius: 10px;
}

.measurementUnitABM__modal__buttons {
    display: flex;
    justify-content: space-between;
}

.measurementUnitABM__modal__button {
    width: 100px;
}